.home-container {
  padding: 20px;
}

.favorites-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #e63939;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 10;

  display: flex;
  align-items: center;
  gap: 8px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.search-input {
  margin-top: 15px;
  margin-left: 10px;
  padding: 8px;
}

.button_and_select {
  margin-left: 10px;
  padding: 8px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  margin-top: 20px;
  justify-items: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}